{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static 'css/login.css' %} ">
    <title>Document</title>
</head>
<body>
    
    <div class="login-page">
        <div class="form">
          <form class="register-form" method='POST'>
            {% csrf_token %}
            {% if error == True %}
              <p style="color:red";>Username is already available!!!</p>
            {% endif %}
            <input type="text" name='first' placeholder="first name"/>
            <input type="text" name='last' placeholder="last name"/>
            <input type="text" name='username' placeholder='username'>
            <input type="password" name='password' placeholder="password"/>
            <input type="text" name='email' placeholder="email address"/>
            <input type="text" name='city' placeholder='city'>
            <input type="phone" name='phone' placeholder='phone'>
            <button type = 'submit'>create</button>
            <p class="message">Already registered? <a href=" {% url 'user:login' %} ">Sign In</a></p>
          </form>
        </div>
      </div>
</body>
</html>